[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=tt
ExecStart=/bin/sh /etc/ff.sh

[Install]
WantedBy=multi-user.target
